<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Westerley, Hillingdon, TT">
    <meta name="description" content="Results from Westerley's Hillingdon TT Series">
    <title>Hillingdon TT Series 2022</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="flex mx-auto">
        <h2 class="p-6 font-bold text-xl2 text-white bg-[#3c286b] w-3/4">Hillingdon TT Series 2022</h2>
        <div class="flex p-4 text-gray-200 text-right bg-[#3c286b] w-1/4 items-center">
            <em>Powered by</em>
            <div class="bg-gray-300 mx-2 text-blue-700 font-bold hover:bg-gray-200 rounded-lg px-2">
                Rally
            </div>
        </div>
    </div>

    <div class="bg-gray-100">
        Results go here
    </div>

    <footer>
        <div class="bg-gray-800 flex text-gray-200 mx-auto py-5">
            <p class="px-4 text-left w-3/4">Copyright 2022</p>
            <p class="px-4 text-right"> <em>Powered by Rally</em></p>
        </div>
    </footer>

</body>
</html>